# Python
__pycache__/
*.pyc
.venv/

# Local config
.env

# Build/output
output/
*.run.jsonl
*.work.json

# Archived file
archive/

# FHIR IG input
input/strd_fhir_ig/

# Interal Business Docs
input/business/

# Guardrail files
input

# Editors
.vscode/